<!--<div class="container">-->
<!--  <p>Dream Hotel System</p>-->

<!--  <div>-->
<!--    <button class="button" [routerLink]="'/room'">Room</button>-->
<!--  </div>-->
<!--</div>-->

<!--<hr>-->

<!--<div class="container">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/room" class="btn btn-warning">Pokoje</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/reservation" class="btn btn-warning">Rezerwacje</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
