
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Początek pobytu</th>
        <th scope="col">Koniec pobytu</th>
        <th scope="col">Liczba osób</th>
        <th scope="col">Śniadanie</th>
        <th scope="col">Parking</th>
        <th scope="col">Zwierze</th>
        <th scope="col">Spa</th>
        <th scope="col">#pokoju</th>
        <th scope="col">#gościa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.startVisit }}</td>
        <td>{{ reservation.endVisit }}</td>
        <td>{{ reservation.numberOfGuests }}</td>
        <td>{{ reservation.breakfast }}</td>
        <td>{{ reservation.parking }}</td>
        <td>{{ reservation.animal }}</td>
        <td>{{ reservation.spa }}</td>
        <td>{{ reservation.roomId }}</td>
        <td>{{ reservation.userId }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
